{% extends "layout.html" %}
{% from 'macros.html' import render_field %}

{% block content %}


<div class="container" style="font-family: 'Varela Round', Helvetica Neue, Helvetica, Arial, serif; margin-left: 50px; padding: 0; width: 700px">
	<h5 style="font-size: 16px; width: 500px">Use these tools to pre-populate your crm. The Notes selection must be used only after the Contacts selection</h5>

	<form class="ui form" method="POST" action="" style="margin-top: 20px; padding: 0 0 20px 0">

	  <button class='btn' style="width: 50%; color: #ffffff; background-color: #F1861B; font-family: 'Varela Round', Helvetica Neue, Helvetica, Arial, serif; font-size: 16px; margin-bottom: 10px" type="submit" id="contacts" name="submit"  label="contacts" value='contacts'>Upload Contacts</button>

	  <button class='btn' style="width: 50%; color: #ffffff; background-color: #F1861B; font-family: 'Varela Round', Helvetica Neue, Helvetica, Arial, serif; font-size: 16px" type="submit" id="notes" name="submit"  label="notes" value='notes'>Upload Notes</button>
	</form>
</div>

{% endblock %}